
hackathon-wsu/hackathon-wsu/hackathon-wsu.vcxproj.filters
*.vsidx
*.vsidx
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
*.db
*.ipch
*.filters
*.user
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
*.db
hackathon-wsu/.vs/hackathon-wsu/v17/Browse.VC.db
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
*.db-wal
*.opendb
*.db-shm
*.db
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
*.db
*.ilk
*.obj
*.tlog
*.tlog
*.idb
hackathon-wsu/hackathon-wsu/x64/Debug/vc143.pdb
