
hackathon-wsu/hackathon-wsu/hackathon-wsu.vcxproj.filters
hackathon-wsu/hackathon-wsu/hackathon-wsu.vcxproj.filters
*.vsidx
*.vsidx
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
*.db
*.ipch
*.filters
*.user
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
*.db
*.db-shm
*.opendb
*.db
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
