
hackathon-wsu/hackathon-wsu/hackathon-wsu.vcxproj.filters
hackathon-wsu/hackathon-wsu/hackathon-wsu.vcxproj.filters
*.vsidx
*.vsidx
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
*.db
*.ipch
*.filters
*.user
gui/build-gui-Desktop_x86_windows_msvc2022_pe_64bit-Debug
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
*.db
hackathon-wsu/.vs/hackathon-wsu/v17/Browse.VC.db
hackathon-wsu/.vs/hackathon-wsu/v17/.suo
